<div class="page-header">
  <%= link_to usuario_cols_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_usuario_col_path(@usuario_col), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Información del Usuario Colciencias</h1>
</div>

<dl class="dl-horizontal">
</dl>
