<div class="page-header">
  <%= link_to proyectos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <h1>Nuevo proyecto</h1>
</div>

<%= render 'form' %>
